body, .login input, .login button {
  background-color: #de4248;
  font-family: 'Lexend', sans-serif;
}

.login {
  overflow: hidden;
  background-color: #fffef7;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
}

.login::before,
.login::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 40% 45% 35% 40%;
  z-index: -1;
}

.login::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(248, 125, 52, 0.12);
  animation: waves 6s infinite linear;
}

.login::after {
  left: 35%;
  bottom: -125%;
  background-color: rgba(222, 66, 72, 0.15);
  animation: waves 7s infinite;
}

.login > input {
  font-family: 'Lexend', sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: #f2f2f2;
  color: #212121;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}

.login > button {
  font-family: 'Lexend', sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
    border: 0;
  padding: 10px 0;
  margin: 20px auto 0 auto;
  border-radius: 5px;
  background-color: #f87d34;
  transition: background-color 300ms;
}

.login > button:hover {
  background-color: #de4248;
}

@keyframes waves {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-message {
  margin-top: 10px;
  color: red;
  font-size: 15px;
  text-align: center;
}

.hidden {
  display: none;
}

.logo {
  display: block;
  margin: 0 auto 20px auto;
  width: 300px;
}
